.news-wrapper {
  .news-photo {
    max-width: 100%;
  }

  .news-info-content {
    padding: 1em;

    .ant-typography {
      font-family: BerlingskeSerif;
      font-weight: 400;
      font-size: 30px;
      margin: 0px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .news-description-wysiwyg {
      font-size: 16px;
      color: $blackColor;
      margin: 0.5rem 0;
      overflow: auto;
    }
  }
}
