.news-wrapper {
  .news-photo {
    max-width: 100%;
  }

  .news-info-title,
  .news-info-content {
    padding: 1em;
  }

  .news-info-title .ant-typography {
    font-family: BerlingskeSerif;
    font-weight: 400;
    font-size: 30px;
    margin: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
