<div id="react-app"
     asp-prerender-module=@($"{StartUpVendors.ServerPhysicalPath}/{StartUpVendors.ServerFileName}")
>
    <div class="styles"></div>
    <div id="react-content"></div>
    <div class="scriptes"></div>
</div>

@section scripts {
    @foreach (var scriptSrc in StartUpVendors.JsVendors)
    {
        <script src="@scriptSrc" asp-append-version="true"></script>
    }
}
