<div id="react-app"
     asp-prerender-module=@($"{StartUpVendors.ServerPhysicalPath}/{StartUpVendors.ServerFileName}")
     asp-prerender-data="new {
        isMobileBrowser = @ViewData["isMobileBrowser"] ?? true,
        isPageNotFound = @ViewData["isPageNotFound"] ?? false,
        yandexMetrikaCounterId = @ViewData["yandexMetrikaCounterId"] ?? 0,
    }"
>
</div>
