<div id="react-app"
     asp-prerender-module=@($"{StartUpVendors.ServerPhysicalPath}/{StartUpVendors.ServerFileName}")
     asp-prerender-data="new {
        isMobileBrowser = @ViewData["isMobileBrowser"],
    }"
>
</div>
