<div id="react-app"
     asp-prerender-module=@($"{StartUpVendors.ServerPhysicalPath}/{StartUpVendors.ServerFileName}")
     asp-prerender-data="new {
        isMobileBrowser = @ViewData["isMobileBrowser"],
    }"
>
    <div class="styles"></div>
    <div class="scriptes"></div>
    <div id="react-content"></div>
</div>
