/* ProbaPro */
@font-face {
  font-family: "ProbaPro";
  src: url(../fonts/ProbaPro-Regular.ttf);
}

@font-face {
  font-family: "ProbaPro";
  src: url(../fonts/ProbaPro-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "ProbaPro";
  src: url(../fonts/ProbaPro-ExtraLightItalic.ttf);
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "ProbaPro";
  src: url(../fonts/ProbaPro-Light.ttf);
  font-weight: 100;
}

@font-face {
  font-family: "ProbaPro";
  src: url(../fonts/ProbaPro-Italic.ttf);
  font-style: italic;
}

@font-face {
  font-family: "ProbaPro";
  src: url(../fonts/ProbaPro-Bold.ttf);
  font-weight: 700;
}
/* END ProbaPro */

/* BerlingskeSerif */
@font-face {
  font-family: "BerlingskeSerif";
  src: url(../fonts/BerlingskeSerif-DBd.ttf);
  font-weight: bolder;
}
/* END BerlingskeSerif */
