.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 67px;
  font-size: 18px;
  font-weight: 500;

  .slash {
    padding: 0 5px;
  }

  .nav-link-wrapper {
    max-width: 275px;
  }
}
