.wysiwyg-wrapper {
  .product-info .ant-typography {
    font-family: BerlingskeSerif;
    font-weight: 400;
    font-size: 30px;
    padding-right: 30px;
  }

  .product-photo {
    min-width: 230px;
    float: left;
    margin: 0rem 2rem 0.5rem 0;
  }

  .empty-cost-hint,
  .product-cost {
    font-size: 21px;
    color: $darkGreenColor;
  }

  .product-cost {
    position: absolute;
    top: 0;
    right: 2rem;
  }

  .product-description {
    font-size: 16px;
    font-weight: 500;
    color: $greyColor;
  }

  .wysiwyg-description {
    margin-top: 0.5rem;
  }

  .card-add-button {
    float: right;
  }
}
