.product-wrapper {
  padding: 2rem;
  position: relative;

  .product-photo {
    max-width: 40%;
    min-width: 230px;
    float: left;
    margin: 0rem 2rem 0.5rem 0;
  }

  .product-info {
    .ant-typography {
      font-family: BerlingskeSerif;
      font-weight: 400;
      font-size: 30px;
      padding-right: 30px;
    }

    .product-cost {
      font-size: 21px;
      position: absolute;
      top: 0;
      right: 2rem;
      color: $darkGreenColor;
    }

    .product-description {
      font-size: 16px;
      font-weight: 500;
      color: $greyColor;
    }
  }

  .product-description-wysiwyg {
    font-size: 16px;
    font-weight: normal;
    color: $blackColor;

    margin-top: 0.5rem;

    figure.image {
      img {
        max-width: 100%;
      }
    }
  }

  .card-add-button {
    float: right;
  }
}
