$lightGreyColor: #bfbebe;
$greyColor: #626262;
$greyShadowStyle: 0 0 0 2px rgba(98, 98, 98, 0.2);
$darkGreyColor: #151515;
$darkGreenColor: #75b726;
$greenColor: #50ae2f;
$mainColor: $greenColor;
$lightGreenColor: #78ff59;
$borderColor: #cecece;
$tableHoverColor: #daecda;
$arrowBorderColor: #bad150;
