.antd-layout > .row-type-flex {
  flex: 1 1 auto;
  flex-direction: row;
  max-width: 100%;

  > .ant-col {
    display: flex;
    flex-direction: row;
    max-height: 100%;

    > .ant-layout {
      max-width: calc(100% - 250px);

      @media (max-width: 767px) {
        max-width: 100%;
      }
    }
  }

  .ant-spin-nested-loading {
    height: 100%;

    > div > .ant-spin {
      max-height: unset;
    }
  }
}

.ant-layout {
  height: 100%;
  background: transparent;
  background: unset;
  font-family: "ProbaPro";
}

.main-content-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 3em;
  max-width: 100%;

  @media (max-width: 767px) {
    padding-left: 8px;
    padding-right: 8px;
  }

  @media (max-width: 991px) {
    > div,
    > article {
      &:not(.ant-layout-header) {
        margin-bottom: 85px;
      }
    }
  }

  .ant-layout-header {
    background: transparent;
    background: unset;
    line-height: inherit;
    padding: unset;
    height: auto;
  }

  .content {
    flex: 0 1 auto;
  }
}

.nav-link-wrapper {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
