.loading-wrapper {
  display: flex;
  flex: 1 0 auto;
  padding: 1.5em 0;

  align-items: center;
  justify-content: center;

  .loading-icon {
    width: 25%;

    path {
      fill: $mainColor;
    }
  }
}
