html {
  --antd-wave-shadow-color: rgb(98, 98, 98);
}

#react-app {
  height: 100%;
  background: no-repeat url(../image/mainBackground.png);
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
}

.layout-wrapper {
  height: 100%;

    > .ant-row-flex {
      height: 100%;

      > .ant-col {
        height: 100%;
      }
    }

  .ant-spin-nested-loading {
    height: 100%;
    
    > div > .ant-spin {
      max-height: unset;
    }
  }
}

.ant-layout {
  height: 100%;
  background: unset;
  
  .ant-layout-header {
    font-family: "ProbaPro";
    height: auto;
    padding: unset;
    background: unset;
    line-height: initial;

    background: no-repeat url(../image/logo.png);
    background-position-x: 2rem;
    background-position-y: top;
    background-size: unset;
  }
}