.layout-wrapper {
  height: 100%;

    > .ant-row-flex {
      height: 100%;

      > .ant-col {
        height: 100%;
      }
    }

  .ant-spin-nested-loading {
    height: 100%;
    
    > div > .ant-spin {
      max-height: unset;
    }
  }
}

.ant-layout {
  height: 100%;
  background: unset;
  
  .ant-layout-header {
    height: auto;
    padding: unset;
    background: unset;
    line-height: initial;
  }
}