@import "./loadingComponent.scss";
@import "./sider.scss";
@import "./topbar/index.scss";
@import "./pagination.scss";
@import "./content.scss";
@import "./utils.scss";

html {
  --antd-wave-shadow-color: rgb(98, 98, 98);
}

#react-app {
  min-height: 100%;
  background: no-repeat url(../image/mainBackground.jpg);
  background-position-x: center;
  background-position-y: top;
  background-size: 110%;
  display: flex;
  flex-direction: column;
}

a {
  color: $darkGreenColor;

  &:focus,
  &:hover {
    color: $greenColor;
  }
}

.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled),
.ant-input {
  &:hover {
    border-color: $greyColor;
  }

  &:focus {
    border-color: $greyColor;
    box-shadow: $greyShadowStyle;
  }
}

.ant-pagination + .ant-row-flex {
  margin-top: 15px;
}

.ant-layout-sider-zero-width-trigger {
  background: $greenColor;

  &:hover {
    background: $darkGreenColor;
  }
}

.ourgarden-payment,
.ourgarden-design {
  padding: 2rem;

  div.ant-typography {
    font-size: 16px;
    font-weight: 100;
    color: #000;
  }
}
