.antd-layout {
  .ant-layout {
    &-sider {
      display: flex;
      flex-direction: column;
      max-height: 600px;
      background: $whiteColor;

      &-children {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        height: 100%;
      }
    }

    @media (max-width: 767px) {
      &-sider {
        z-index: 5;
        position: fixed;
        height: 100%;
        top: 0;
        max-height: unset;
      }

      &-sider-zero-width-trigger {
        top: 356px;
      }
    }
  }

  .sider-catalog-header {
    font-family: BerlingskeSerif;
    font-weight: 400;

    padding: 0.5em 0em;
    text-align: center;

    background-color: $darkGreenColor;

    > .catalog-header {
      line-height: 1.4;

      font-size: 38px;
      font-weight: inherit;

      margin: 0px;

      color: white;
    }
  }

  .ant-menu {
    flex: 1 1 auto;
    border: 1px solid $borderColor;
    border-top: unset;
    overflow-y: auto;
    overflow-x: hidden;

    color: $darkGreyColor;

    &-item {
      font-size: 16px;
      width: 100%;

      .nav-link-wrapper,
      .nav-link {
        font-weight: 500;

        &:hover {
          color: $whiteColor;
        }
      }

      &::after {
        border-right-color: $greenColor;
      }

      &:hover {
        color: $whiteColor;
        background-color: $darkGreenColor;
      }
    }

    &:not(.ant-menu-horizontal) .ant-menu-item-selected {
      background-color: $darkGreenColor;

      .nav-link-wrapper,
      .nav-link {
        color: $whiteColor;
      }
    }
  }
}
