.d-none {
  display: none !important;
}

.d-contents {
  display: contents !important;
}

.overflow-x-hidden {
  overflow-x: hidden !important;
}

.overflow-x-auto {
  overflow-x: auto !important;
}

.flex-grow-0 {
  flex-grow: 0 !important;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}

.white-background {
  background: $whiteColor;
}

.grey-border {
  border: 1px solid $borderColor;
}

.p25 {
  padding: 25px;
}

.pt0 {
  padding-top: 0 !important;
}
.pt5 {
  padding-top: 5px !important;
}
.pt18 {
  padding-top: 18px !important;
}

.pb0 {
  padding-bottom: 0 !important;
}
.pb5 {
  padding-bottom: 5px !important;
}
.pb18 {
  padding-bottom: 18px !important;
}

.mtn16 {
  margin-top: -16px;
}
