.d-none {
  display: none !important;
}

.overflow-x-hidden {
  overflow-x: hidden !important;
}

.overflow-x-auto {
  overflow-x: auto !important;
}

.flex-grow-0 {
  flex-grow: 0 !important;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}

.white-background {
  background: #fff;
}

.grey-border {
  border: 1px solid $borderColor;
}

.p25 {
  padding: 25px;
}
