.catalog-card-list {
  flex-shrink: 1;
  padding: 0 8px;

  .ant-col.card-wrapper {
    margin-bottom: 28px;
    flex: 0 1 auto;
  }

  .ant-card.ant-card-hoverable {
    .ant-card-cover {
      min-height: 186px;
    }

    .ant-card-meta-title {
      white-space: unset;
      text-overflow: unset;
    }

    .ant-card-meta-description {
      color: black;
    }

    &:hover {
      .ant-card-meta-title {
        color: $darkGreenColor;
        text-decoration: underline;
      }

      .card-description .ant-input-group-addon .ant-btn {
        background-color: $darkGreenColor;
        color: #fff;

        &:focus,
        &:active {
          background-color: $greenColor;
          color: #fff;
        }
      }
    }
  }
}
