.catalog-card-list {
  flex-shrink: 1;
  padding: 0 8px;

  .ant-col.card-wrapper {
    margin-bottom: 28px;
    flex: 0 1 auto;
    width: 100%;
  }

  .ant-card {
    > .ant-card-cover {
      margin-right: 0;
      margin-left: 0;
    }

    &.ant-card-bordered {
      border-color: #e8e8e8;
    }

    &.ant-card-hoverable {
      .ant-card-cover {
        min-height: 186px;
      }

      .ant-typography {
        color: inherit;
        margin-bottom: 0;
      }

      .ant-card-meta-title a {
        color: $blackColor;
        white-space: normal;
        text-overflow: clip;
        transition: color 0.3s;
      }

      .ant-card-meta-description {
        color: black;
      }

      &:hover {
        .ant-card-meta-title a {
          color: $darkGreenColor;
          text-decoration: underline;
        }

        .card-description .ant-input-group-addon .ant-btn {
          background-color: $darkGreenColor;
          color: #fff;

          &:focus,
          &:active {
            background-color: $greenColor;
            color: #fff;
          }
        }
      }
    }
  }
}
