#react-app,
.ant-layout,
.ant-layout,
.main-content-wrapper,
.ant-spin-nested-loading,
.ant-spin-container,
.loading-spin-container {
  height: 100%;
}

.ant-layout-sider {
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
}

.ag-theme-balham {
  flex: 1 1 auto;
}

.main-content-wrapper .loading-spin-container.visible:first-of-type {
  &,
  .ant-spin-nested-loading .ant-spin-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.buttons-control {
  flex: 0 0 auto;
  align-self: flex-end;
  padding: 5px;
  width: 100%;

  .refresh-btn {
    float: left;
  }

  .delete-btn,
  .add-btn {
    float: right;
  }

  > .ant-btn + .ant-btn {
    margin-left: 5px;
  }
}

.ant-form-item-children .ant-input-number {
  width: 100%;
}

.ag-theme-balham .ag-root-wrapper-body.ag-layout-normal {
  flex: 1 1 100%;
}

.grid-wrapper {
  display: flex;
  height: 300px;
}
