#react-app,
.ant-layout,
.ant-layout,
.main-content-wrapper,
.ant-spin-nested-loading,
.ant-spin-container,
.loading-spin-container {
  height: 100%;
}

.ant-layout-sider {
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
}