.antd-header.ant-layout-header {
  background: unset;
  font-family: "ProbaPro";
  font-weight: 500;
  height: auto;
  padding: unset;
  background: unset;
  line-height: initial;

  .company-logo {
    background: no-repeat url(../image/logo.png);
    background-size: contain;
    width: 180px;
    height: 180px;
    position: absolute;
    cursor: pointer;
    margin-left: 2rem;
    margin-top: -10px;
    z-index: 1;

    @media (max-width: 1199px) {
      margin-left: 8rem;
    }

    @media (max-width: 767px) {
      width: 160px;
      height: 160px;
    }

    @media (max-width: 700px) {
      width: 120px;
      height: 120px;
    }
  }
}

.header-wrapper {
  justify-content: flex-end;
  flex-direction: row;
  margin-bottom: 1.5em;
  height: 155px;

  .ant-col {
    display: flex;
    justify-content: flex-end;
    flex: 0 1 70%;

    > div,
    > .ant-badge {
      margin-left: 2em;
    }

    .company-info {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      font-size: 18px;
      flex: 1 0 auto;

      color: $greyColor;

      .company-info {
        margin-left: 1em;
      }
    }

    .anticon {
      color: $lightGreyColor;
      width: 18px;
      margin-right: 0.25em;
      padding-bottom: 0.15em;

      > svg {
        fill: currentColor;

        > circle {
          color: white;
        }
      }
    }

    .archive-icon,
    .ant-badge {
      display: flex;
      align-items: flex-end;
      flex: 0 1 52px;

      .ant-badge-count {
        right: 20px;
      }
    }

    .ant-badge {
      height: 32px;
      align-self: flex-end;
    }

    .ant-badge .ant-badge-count {
      font-size: 14px;
      font-weight: 700;
    }

    .archive-icon path {
      stroke: $greyColor;
    }
  }

  @media (max-width: 1400px) {
    .ant-col {
      flex-wrap: wrap;

      .ant-select.ant-select-auto-complete {
        flex-basis: calc(100% - 108px);
      }

      .company-info {
        order: 1;
        margin-left: 0;
      }
    }
  }

  @media (max-width: 1199px) {
    .ant-col {
      flex: 0 1 60%;

      > div:first-child {
        margin-left: 0;
      }
    }
  }

  @media (max-width: 888px) {
    .ant-col {
      flex-basis: 55%;

      .ant-badge {
        order: 1;
      }

      .ant-select.ant-select-auto-complete {
        flex-basis: calc(100% - 80px);
        margin-right: 23px;
      }
    }
  }

  @media (max-width: 700px) {
    .ant-col {
      flex-basis: 77%;

      .ant-badge {
        order: -1;
        margin-left: 1em;
      }

      .company-info {
        margin-left: 1em;
        order: -1;
        flex-grow: 0;
      }
    }
  }

  @media (max-width: 620px) {
    .ant-col {
      .company-info .text {
        display: none;
      }
    }
  }

  @media (max-width: 380px) {
    .ant-col {
      flex-basis: 100%;

      .ant-badge,
      .company-info {
        order: initial;
        margin-left: 0.3em;
      }

      .ant-select.ant-select-auto-complete {
        margin-right: 0;
        margin-left: 10px;
        flex-basis: calc(100% - 160px);
      }
    }
  }
}
