.navigation {
  .MuiTabs-root {
    height: 50px;
    margin: 0 0 16px;
  }

  .MuiTabs-flexContainer {
    justify-content: space-between;
  }

  .MuiTab-root {
    min-width: 0 !important;
    text-transform: initial;

    font-family: inherit;
    opacity: 1;
    padding: 0;
    line-height: 1.5;
  }

  .Mui-selected {
    .nav-link-wrapper,
    .nav-link {
      color: $darkGreenColor;
    }
  }

  .nav-link {
    width: 100%;
    padding: 12px;

    font-size: 18px;
    color: $darkGreyColor;

    text-align: center;

    &:hover {
      color: $greenColor;
    }
  }
  .nav-link-wrapper {
    color: $darkGreyColor;
  }

  .MuiSvgIcon-root {
    color: $greenColor;
  }
}
