.news-list-wrapper {
  min-height: 350px;
  margin: 0 -8px;

  .ant-card-meta-title {
    .ant-typography {
      font-family: BerlingskeSerif;
      font-weight: 400;
      font-size: 30px;
      margin: 0px;
      overflow: hidden;
      text-overflow: ellipsis;

      a {
        font-weight: inherit;
      }
    }
  }

  .catalog-card-list .ant-col.card-wrapper {
    flex: 1 1 100%;
    margin-bottom: 1em;
    max-width: 100%;

    .ant-card-cover {
      border-bottom: 1px solid $borderColor;

      > * {
        display: flex !important;
        width: 100%;
        justify-content: center;

        img {
          width: auto;
          max-width: 100%;
          height: initial;
          background: center / contain no-repeat;
        }
      }
    }

    .ant-card-meta-title {
      white-space: unset;
      text-overflow: unset;
    }

    &:last-child {
      margin: 0px;
    }
  }
}
