.user-card-wrapper {
  overflow: auto;
  background: $whiteColor;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;

  &.card-confirmation {
    min-height: 560px;

    @media (min-width: 408px) {
      min-height: 504px;
    }

    @media (min-width: 768px) {
      min-height: 416px;
    }

    @media (min-width: 1200px) {
      min-height: 353px;
    }
  }

  &.card-info {
    min-height: 460px;
  }

  &.card-empty,
  &.card-confirm {
    margin-bottom: 0 !important;
  }

  h1.ant-typography {
    font-family: BerlingskeSerif;
    font-weight: 400;
    margin-bottom: 0.5rem;

    &.confirmation-title {
      margin: 1rem 0 1rem 7rem;
    }
  }

  .order-success {
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;

    .text-wrapper {
      margin: 0.5rem;
      flex: 1 1 100%;
      font-size: 32px;
    }
    .btn-wrapper {
      margin: 0.5rem;
      flex: 1 1 100%;

      .ant-btn {
        height: auto;
        font-size: 28px;
      }
    }
  }
}
