.contacts-wrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-height: 600px;

  .company-contacts {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    padding-left: 6rem;
    padding: 2rem 5rem;
    background-color: $whiteColor;

    @media (max-width: 654px) {
      padding: 2rem 2rem;
    }

    @media (max-width: 654px) {
      padding: 2rem 2rem;
    }

    @media (max-width: 360px) {
      padding: 2rem 1rem;
    }

    h1 {
      font-family: BerlingskeSerif;
      font-weight: 400;
      font-size: 30px;
      padding-left: calc(1rem + 24px);
    }

    > div {
      display: flex;
      align-items: center;

      .anticon {
        width: 24px;
        margin-right: 1rem;

        + span {
          font-size: 24px;
          font-weight: 300;
        }
      }

      & + div {
        margin-top: 1rem;
      }
    }
  }

  .company-map {
    display: flex;
    flex: 1 1 auto;

    .y-map {
      flex: 1 1 auto;
      min-height: 250px;
    }
  }
}
