<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpErrors existingResponse="PassThrough">
      <remove statusCode="400" />
      <remove statusCode="401" subStatusCode="-1" />
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="405" subStatusCode="-1" />
      <remove statusCode="406" subStatusCode="-1" />
      <remove statusCode="407" />
      <remove statusCode="412" subStatusCode="-1" />
      <remove statusCode="414" />
      <remove statusCode="415" />
      <remove statusCode="500" subStatusCode="-1" />
      <remove statusCode="501" subStatusCode="-1" />
      <remove statusCode="502" subStatusCode="-1" />
      <remove statusCode="503" />

      <error statusCode="400" path="/" responseMode="ExecuteURL" />
      <error statusCode="401" prefixLanguageFilePath="" path="/" responseMode="ExecuteURL" />
      <error statusCode="403" prefixLanguageFilePath="" path="/" responseMode="ExecuteURL" />
      <error statusCode="404" prefixLanguageFilePath="" path="/" responseMode="ExecuteURL" />
      <error statusCode="405" prefixLanguageFilePath="" path="/" responseMode="ExecuteURL" />
      <error statusCode="406" prefixLanguageFilePath="" path="/" responseMode="ExecuteURL" />
      <error statusCode="407" path="/" responseMode="ExecuteURL" />
      <error statusCode="412" prefixLanguageFilePath="" path="/" responseMode="ExecuteURL" />
      <error statusCode="414" path="/" responseMode="ExecuteURL" />
      <error statusCode="415" path="/" responseMode="ExecuteURL" />
      <error statusCode="500" prefixLanguageFilePath="" path="/" responseMode="ExecuteURL" />
      <error statusCode="501" prefixLanguageFilePath="" path="/" responseMode="ExecuteURL" />
      <error statusCode="502" prefixLanguageFilePath="" path="/" responseMode="ExecuteURL" />
      <error statusCode="503" path="/" responseMode="ExecuteURL" />
    </httpErrors>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
        <environmentVariable name="PATH" value="%PATH%;C:\inetpub\vhosts\u0740869.plsk.regruhosting.ru\node" />
      </environmentVariables>
    </aspNetCore>
    <staticContent>
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
    </staticContent>
    <rewrite>
      <rules>
        <rule name="Redirect to https" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <system.web>
    <machineKey
      validationKey="AutoGenerate,IsolateApps"
      decryptionKey="AutoGenerate,IsolateApps"
      validation="HMACSHA256"
      decryption="Auto"
    />
  </system.web>
</configuration>