@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Наш сад - Админ</title>
    <base href="~/" />

    <link rel="icon" href="~/admin/favicon.ico">

    <link rel="stylesheet" href="~/admin/client/main-client.css" asp-append-version="true" />
</head>
<body>
    <div id="react-app"
         asp-prerender-module="wwwroot/admin/server/main-server.js"
         asp-prerender-data="new {
            user = @ViewData["user"],
            xpt = @ViewData["xpt"],
        }">Loading...</div>

    <script src="admin/client/main-client.js" asp-append-version="true"></script>

</body>
</html>
