.photo-list-modal {
  .photo-list-modal-paper {
    max-width: none;
    margin: 0;
    box-shadow: none;
    position: static;
    z-index: 0;
  }

  .photo-list-modal-image {
    overflow: hidden;
  }

  .image-img-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;

    &::before {
      display: inline-block;
      width: 1px;
      height: 50%;
      margin-right: -1px;
      content: "";
    }

    .image-img {
      max-width: 100%;
      max-height: 100%;
      vertical-align: middle;
    }
  }
}
