.add-to-card-wrapper.card-description {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-flow: row wrap;

  .card-cost {
    font-size: 18px;
    font-weight: 300;
    flex: 20 0 auto;
  }

  .add-to-card-button-wrapper {
    flex: 1 0 auto;
  }
}
