.add-to-card-button-wrapper {
  input.ant-input {
    width: 45px;
    padding: 4px 10px;
    border-radius: 0;
    border-color: $darkGreenColor;
    font-weight: 300;

    &:focus {
      box-shadow: none;
    }
  }

  .ant-input-group-addon {
    padding: 0;
    border: 0;

    .ant-btn {
      color: $darkGreenColor;
      border-radius: 0;
      border-color: $darkGreenColor;

      font-weight: 500;

      &:hover {
        background-color: $darkGreenColor;
        color: #fff;
      }

      &:focus,
      &:active {
        background-color: $greenColor;
        color: #fff;
      }
    }
  }
}
